{% extends 'base.html' %}

{% load django_markdown %}
{% load issue_filters %}

{% block content %}


<div class="panel panel-default">

  <div class="panel-heading">
    <h1>
      Global permissions
      <div class="pull-right">
        <a href="{% url 'add-global-permission' %}" class="btn btn-success">Add new permission</a>
      </div>
    </h1>
  </div>

  {% if permissions.count %}
  <table class="table table-bordered">
    <tr>
      <th rowspan="2">Type</th>
      <th rowspan="2">Name</th>
      <th colspan="3" class="text-center">Project</th>
      <th colspan="2" class="text-center">Team</th>
      <th class="text-center">Permissions</th>
      <th rowspan="2" class="col-md-2"></th>
    </tr>
    <tr>
      <th class="text-center">Create?</th>
      <th class="text-center">Modify?</th>
      <th class="text-center">Delete?</th>
      <th class="text-center">Add?</th>
      <th class="text-center">Manage?</th>
      <th class="text-center">Manage?</th>
    </tr>
    {% for perm in permissions %}
    <tr>
      <td>{{ perm.type }}</td>
      <td>{{ perm.name }}</td>
      <td class="text-center"><a href="{% url 'toggle-global-permission' perm.id 'create-project' %}">{{ perm.create_project|boolean }}</a></td>
      <td class="text-center"><a href="{% url 'toggle-global-permission' perm.id 'modify-project' %}">{{ perm.modify_project|boolean }}</a></td>
      <td class="text-center"><a href="{% url 'toggle-global-permission' perm.id 'delete-project' %}">{{ perm.delete_project|boolean }}</a></td>
      <td class="text-center"><a href="{% url 'toggle-global-permission' perm.id 'add-team' %}">{{ perm.add_team|boolean }}</a></td>
      <td class="text-center"><a href="{% url 'toggle-global-permission' perm.id 'manage-team' %}">{{ perm.manage_team|boolean }}</a></td>
      <td class="text-center"><a href="{% url 'toggle-global-permission' perm.id 'manage-global-permission' %}">{{ perm.manage_global_permission|boolean }}</a></td>
      <td class="text-center">
        <a href="{% url 'edit-global-permission' perm.id %}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span> Edit</a>
        <a href="{% url 'delete-global-permission' perm.id %}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Delete</a>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <div class="panel-body">
      There aren't any permissions defined yet.
  </div>
  {% endif %}

{% endblock %}
