{% extends 'base.html' %}

{% load bootstrap3 %}

{% block content %}

<div class="panel panel-default">

  <div class="panel-heading clearfix">
    <h1>
      Global permissions
      <div class="pull-right">
        <a href="{% url 'list-global-permission' %}" class="btn btn-warning">Go back to list</a>
      </div>
  </div>

  <div class="panel-body">
    <div class="col-md-offset-3 col-md-6">
      <form action="" method="post" role="form">
        {% bootstrap_form form %}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

</div>

{% endblock %}
