{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="panel panel-default">

  <div class="panel-heading clearfix">
    <h1>
      Global permissions
      <div class="pull-right">
        <a href="{% url 'list-global-permission' %}"><button class="btn btn-warning">Go back to list</button></a>
      </div>
  </div>

  <div class="panel-body">
    <form action="" method="post" role="form">
      {{ form|crispy }}
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

</div>

{% endblock %}
