{% extends 'issue/project.html' %}

{% load humanize %}
{% load issue_tags %}

{% block issuetab %} class="active"{% endblock %}

{% block content %}

<div class="panel panel-default">

  <div class="panel-heading clearfix">
    <h1>
      Issues
      <div class="pull-right">
        <form class="form-inline" role="form" method="GET" action="" id="filter-form">
          <div class="form-group">
            <div class="input-group">
              <div class="dropdown">
                {% if is_all_query %}
                <a href="{% url 'list-issue' project.name %}"><button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"> Reset filter</span></button></a>
                {% endif %}
                <a href="{% url 'list-issue' project.name %}?q=is:open{% if is_all_query %} {{ is_all_query }}{% endif %}"><button type="button" class="btn btn-default btn-sm{{ is_open }}">Open</button></a>
                <a href="{% url 'list-issue' project.name %}?q=is:close{% if is_all_query %} {{ is_all_query }}{% endif %}"><button type="button" class="btn btn-default btn-sm{{ is_close }}">Close</button></a>
                <a href="{% url 'list-issue' project.name %}?q={% if is_all_query %}{{ is_all_query }}{% else %}*{% endif %}"><button type="button" class="btn btn-default btn-sm{{ is_all }}">Both</button></a>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" name="q" type="text" placeholder="filter" value="{{ query }}"/>
              <div class="input-group-addon">
                <a href="#" onclick="$('#filter-form').submit();"><span class="glyphicon glyphicon-search"></span></a>
              </div>
            </div>
          </div>
          {% if perm.create_issue %}
          <div class="form-group">
            <div class="input-group">
              <a href="{% url 'add-issue' project.name %}"><button class="btn btn-success" type="button">New issue</button></a>
            </div>
          </div>
          {% endif %}
        </form>
      </div>
    </h1>
    <i>{{ issues.count }} issue{{ issues.count|pluralize }} displayed</i>
  </div>

  {% if issues.count %}
  <table class="table">
    {% for issue in issues %}
    <tr>
      <td>
        {% if issue.closed %}
        <span class="text-danger"><span class="glyphicon glyphicon-ok-circle"></span></span>
        {% else %}
        <span class="text-success"><span class="glyphicon glyphicon-hand-right"></span></span>
        {% endif %}
        <a href="{% url 'show-issue' project.name issue.id %}"><b>{{ issue }}</b></a>
        {% for label in issue.labels.all %}
        <a href="{% same_label label %}">{% labeled label %}</a>
        {% endfor %}
        <br />
        <small>#{{ issue.id }} opened by <a href="{% same_author issue.author %}"><b>{{ issue.author.username }}</b></a> {{ issue.opened_at|naturaltime }}</small>
        {% if issue.milestone %}
        &#160;–&#160;&#160;<span class="glyphicon glyphicon-road"></span> <a href="{% same_milestone issue.milestone %}"><b>{{ issue.milestone }}</b></a>
        {% endif %}
        &#160;–&#160;&#160;<span class="badge">{{ issue.comments.count }}</span>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <div class="panel-body">
    No issues match your desired criteria.
  </div>
  {% endif %}

</div>

{% endblock %}
