{% extends 'issue/project.html' %}

{% load humanize %}
{% load django_markdown %}
{% load issue_tags %}

{% block issuetab %} class="active"{% endblock %}

{% block content %}


<div class="well">
  <h1>{{ issue }} <small>#{{ issue.id }}</small></h1>

  {% if issue.closed %}
  <span class="label label-danger" style="font-size: 120%;">Closed</span>
  {% else %}
  <span class="label label-success" style="font-size: 120%;">Open</span>
  {% endif %}
  &#160;
  <a href="{% same_author issue.author %}"><b>{{ issue.author}}</b></a> opened this issue {{ issue.opened_at|naturaltime }}
  - {{ issue.comments.count }} comments
</div>

<div class="row">

  <div class="col-md-10">

    {% for event in events %}
    <div class="panel panel-default">

      <div class="panel-heading">
        <span class="badge"><span class="glyphicon glyphicon-{{ event.glyphicon }}"></span></span>
        &#160;
        <a href="{% same_author event.author %}"><b>{{ event.author}}</b></a> {{ event }} {{ event.date|naturaltime }}
        {% if event.code == event.DESCRIBE %}
        <div class="pull-right">
          <a href="{% url 'edit-issue' project.name issue.id %}"><button class="btn btn-primary btn-xs">Edit</button></a>
        </div>
        {% elif event.code == event.COMMENT %}
        <div class="pull-right">
          <a href="{% url 'edit-comment' project.name issue.id event.id %}"><button class="btn btn-primary btn-xs">Edit</button></a>
        </div>
        {% endif %}
      </div>

      {% if event.additionnal_section %}
      <div class="panel-body">
        {{ event.additionnal_section|markdown }}
      </div>
      {% elif event.code == event.DESCRIBE %}
      <div class="panel-body">
        <em>No description provided.</em>
      </div>
      {% endif %}

    </div>
    {% endfor %}

    <div class="row">

      <div class="col-md-3">
      <a href="{% url 'comment-issue' project.name issue.id %}"><button class="btn btn-default btn-block">Add a comment</button></a>
      </div>

      <div class="col-md-3">
      <a href="{% url 'edit-issue' project.name issue.id %}"><button class="btn btn-default btn-block">Edit this issue</button></a>
      </div>

      <div class="col-md-3">
      {% if issue.closed %}
      <a href="{% url 'reopen-issue' project.name issue.id %}"><button class="btn btn-default btn-block">Reopen this issue</button></a>
      {% else %}
      <a href="{% url 'close-issue' project.name issue.id %}"><button class="btn btn-default btn-block">Close this issue</button></a>
      {% endif %}
      </div>

      <div class="col-md-3">
      <a href="{% url 'delete-issue' project.name issue.id %}"><button class="btn btn-default btn-block">Delete this issue</button></a>
      </div>

    </div>

  </div>

  <div class="col-md-2">
    <b>Labels</b>
    <div class="pull-right">
      <div class="dropdown">
        <button class="btn btn-default btn-xs" type="button" id="labels-menu" data-toggle="dropdown"><span class="glyphicon glyphicon-plus"></span></button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="labels-menu">
          {% if labels.count %}
          {% for label in labels %}
          <li role="presentation">
            <a href="{% url 'add-label-to-issue' project.name issue.id label.id %}">{% labeled label %}</a>
          </li>
          {% endfor %}
          <li role="presentation" class="divider"></li>
          {% endif %}
          <li role="presentation">
            <a href="{% url 'add-label' project.name %}?issue={{ issue.id }}"><button class="btn btn-success btn-xs btn-block">New label...</button></a>
          </li>
        </ul>
      </div>
    </div>
    <br /><br />
    {% if issue.labels.count %}
    {% for label in issue.labels.all %}
    <div class="row">
      <a href="{% url 'remove-label-from-issue' project.name issue.id label.id %}"><span class="glyphicon glyphicon-remove remove-label"></span></a>
      <a href="{% same_label label %}">{% labeled label %}</a>
    </div>
    {% endfor %}
    {% else %}
    None yet
    {% endif %}
    <hr>
    <b>Milestone</b>
    <div class="pull-right">
      <div class="dropdown">
        <button class="btn btn-default btn-xs" type="button" id="labels-menu" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span></button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="labels-menu">
          {% if milestones.count %}
          {% for milestone in milestones %}
          <li role="presentation">
            <a href="{% url 'add-milestone-to-issue' project.name issue.id milestone.name %}">{{ milestone }}</a>
          </li>
          {% endfor %}
          <li role="presentation" class="divider"></li>
          {% endif %}
          <li role="presentation">
            <a href="{% url 'add-milestone' project.name %}?issue={{ issue.id }}"><button class="btn btn-success btn-xs btn-block">New milestone...</button></a>
          </li>
        </ul>
      </div>
    </div>
    <br /><br />
    {% if issue.milestone %}
    <a href="{% url 'remove-milestone-from-issue' project.name issue.id issue.milestone.name %}"><span class="glyphicon glyphicon-remove remove-label"></span></a>
    <a href="{% same_milestone issue.milestone  %}"><b>{{ issue.milestone }}</b></a>
    {% else %}
    No milestone
    {% endif %}
    {% comment %}
    <hr>
    <h5>
      <b>Assignee</b>
      <div class="pull-right">
        <a href="#"><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-cog"></span></button></a>
      </div>
    </h5>
    {% if issue.assignee %}
    <a href="{% same_author assignee %}"><b>{{ assignee.username }}</b></a>
    {% else %}
    No one assigned
    {% endif %}
    {% endcomment %}
  </div>

</div>

{% endblock %}
