{% extends 'issue/project.html' %}

{% load bootstrap3 %}

{% block labeltab %} class="active"{% endblock %}

{% block content %}

<div class="panel panel-default">

  <div class="panel-heading">
    <h1>
      {% if label %}
      Edit label
      {% else %}
      New label
      {% endif %}
      <div class="pull-right">
        <a href="{% url 'list-label' project.name %}" class="btn btn-warning">Go back to labels</a>
      </div>
    </h1>
  </div>

  <div class="panel-body">
    <div class="col-md-offset-4 col-md-4">
      <form action="" method="post" role="form">
        {% bootstrap_form form %}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

</div>

{% endblock %}
