{% extends 'issue/project.html' %}

{% load bootstrap_tags %}

{% block milestonetab %} class="active"{% endblock %}

{% block media %}
{{ form.media }}
{% endblock %}

{% block content %}

<div class="panel panel-default">

  <div class="panel-heading">
    <h1>
      {% if milestone %}
      Edit milestone
      {% else %}
      New milestone
      {% endif %}
      <div class="pull-right">
        <a href="{% url 'list-milestone' project.name %}" class="btn btn-warning">Go back to milestones</a>
      </div>
    </h1>
  </div>

  <div class="panel-body">
    <div class="col-md-offset-4 col-md-4">
      <form action="" method="post" role="form">
        {{ form|as_bootstrap }}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

</div>

{% endblock %}
