{% extends 'base.html' %}

{% load django_markdown %}

{% block content %}


<div class="panel panel-default">

  <div class="panel-heading">
    <h1>Profile</h1>
  </div>

  <div class="panel-body">
    <h3>Your groups</h3>
    {% if groups.exists %}
    <ul>
      {% for group in groups %}
      <li>{{ group }}</li>
      {% endfor %}
    </ul>
    {% else %}
    <em>You belong to no groups.</em>
    {% endif %}
    <hr>
    <h3>Your teams</h3>
    {% if teams.exists %}
    <ul>
      {% for team in teams %}
      <li>{{ team }}</li>
      {% endfor %}
    </ul>
    {% else %}
    <em>You belong to no teams.</em>
    {% endif %}
  </div>

{% endblock %}
