{% extends 'base.html' %}

{% block title %}{{ project }} - PonyTracker{% endblock %}
{% block page_title %}{{ project }}{% endblock %}

{% block projectmenu %}
{% if request.user.is_authenticated or perm.manage_project_permission or perm.modify_project or perm.delete_project or perm.create_project %}
<li role="presentation" class="divider"></li>
{% if request.user in project.subscribers.all %}
<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'unsubscribe-project' project.name %}?next={{ request.get_full_path }}"><span class="glyphicon glyphicon-eye-close"></span> Unsubscribe</a></li>
{% else %}
<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'subscribe-project' project.name %}?next={{ request.get_full_path }}"><span class="glyphicon glyphicon-eye-open"></span> Subscribe</a></li>
{% endif %}
{% if perm.manage_project_permission %}
<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'list-project-permission' project.name %}"><span class="glyphicon glyphicon-cog"></span> Manage permissions</a></li>
{% endif %}
{% if perm.modify_project %}
<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'edit-project' project.name %}"><span class="glyphicon glyphicon-wrench"></span> Modify this project</a></li>
{% endif %}
{% if perm.delete_project %}
<li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-item="project" data-action="{% url 'delete-project' project.name %}" data-toggle="modal" data-target="#confirm-delete"><span class="glyphicon glyphicon-trash"></span> Delete this project</a></li>
{% endif %}
{% if perm.create_project %}
<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'add-project' %}"><span class="glyphicon glyphicon-plus"></span> New project…</a></li>
{% endif %}
{% endif %}
{% endblock %}

{% block navbar %}
<li{% block issuetab %}{% endblock %}><a href="{% url 'list-issue' project.name %}">Issues</a></li>
<li{% block labeltab %}{% endblock %}><a href="{% url 'list-label' project.name %}">Labels</a></li>
<li{% block milestonetab %}{% endblock %}><a href="{% url 'list-milestone' project.name %}">Milestones</a></li>
{% if perm.manage_project_permission %}
<li{% block permissiontab %}{% endblock %}><a href="{% url 'list-project-permission' project.name %}">Permissions</a></li>
{% endif %}
{% endblock %}
