{% extends 'issue/project.html' %}

{% load django_markdown %}
{% load issue_filters %}
{% load issue_tags %}

{% block permissiontab %} class="active"{% endblock %}

{% block content %}

<div class="panel panel-default">

  <div class="panel-heading">
    <h1>
      Permissions of '{{ project }}' project
      <div class="pull-right">
        <a href="{% url 'add-project-permission' project.name %}"><button class="btn btn-success">Add new permission</button></a>
      </div>
    </h1>
  </div>

  {% if permissions.count %}
  <table class="table table-bordered">
    <tr>
      <th rowspan="2">Type</th>
      <th rowspan="2">Name</th>
      <th colspan="3" class="text-center">Issue</th>
      <th colspan="3" class="text-center">Comment</th>
      <th colspan="3" class="text-center">Label</th>
      <th colspan="3" class="text-center">Milestone</th>
      <th class="text-center">Permission</th>
      <th rowspan="2" class="col-md-2"></th>
    </tr>
    <tr>
      <th class="text-center">{% vertical 'Create?' %}</th>
      <th class="text-center">{% vertical 'Modify?' %}</th>
      <th class="text-center">{% vertical 'Delete?' %}</th>
      <th class="text-center">{% vertical 'Create?' %}</th>
      <th class="text-center">{% vertical 'Modify?' %}</th>
      <th class="text-center">{% vertical 'Delete?' %}</th>
      <th class="text-center">{% vertical 'Create?' %}</th>
      <th class="text-center">{% vertical 'Modify?' %}</th>
      <th class="text-center">{% vertical 'Delete?' %}</th>
      <th class="text-center">{% vertical 'Create?' %}</th>
      <th class="text-center">{% vertical 'Modify?' %}</th>
      <th class="text-center">{% vertical 'Delete?' %}</th>
      <th class="text-center">{% vertical 'Manage?' %}</th>
    </tr>
    {% for perm in permissions %}
    <tr>
      <td>{{ perm.type }}</td>
      <td>{{ perm.name }}</td>
      <td class="text-center"><a href="{% url 'toggle-project-permission' project.name perm.id 'create-issue' %}">{{ perm.create_issue|boolean }}</a></td>
      <td class="text-center"><a href="{% url 'toggle-project-permission' project.name perm.id 'modify-issue' %}">{{ perm.modify_issue|boolean }}</a></td>
      <td class="text-center"><a href="{% url 'toggle-project-permission' project.name perm.id 'delete-issue' %}">{{ perm.delete_issue|boolean }}</a></td>
      <td class="text-center"><a href="{% url 'toggle-project-permission' project.name perm.id 'create-comment' %}">{{ perm.create_comment|boolean }}</a></td>
      <td class="text-center"><a href="{% url 'toggle-project-permission' project.name perm.id 'modify-comment' %}">{{ perm.modify_comment|boolean }}</a></td>
      <td class="text-center"><a href="{% url 'toggle-project-permission' project.name perm.id 'delete-comment' %}">{{ perm.delete_comment|boolean }}</a></td>
      <td class="text-center"><a href="{% url 'toggle-project-permission' project.name perm.id 'create-label' %}">{{ perm.create_label|boolean }}</a></td>
      <td class="text-center"><a href="{% url 'toggle-project-permission' project.name perm.id 'modify-label' %}">{{ perm.modify_label|boolean }}</a></td>
      <td class="text-center"><a href="{% url 'toggle-project-permission' project.name perm.id 'delete-label' %}">{{ perm.delete_label|boolean }}</a></td>
      <td class="text-center"><a href="{% url 'toggle-project-permission' project.name perm.id 'create-milestone' %}">{{ perm.create_milestone|boolean }}</a></td>
      <td class="text-center"><a href="{% url 'toggle-project-permission' project.name perm.id 'modify-milestone' %}">{{ perm.modify_milestone|boolean }}</a></td>
      <td class="text-center"><a href="{% url 'toggle-project-permission' project.name perm.id 'delete-milestone' %}">{{ perm.delete_milestone|boolean }}</a></td>
      <td class="text-center"><a href="{% url 'toggle-project-permission' project.name perm.id 'manage-project-permission' %}">{{ perm.manage_project_permission|boolean }}</a></td>
      <td class="text-center">
        <a href="{% url 'edit-project-permission' project.name perm.id %}"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span> Edit</button></a>
        <a href="{% url 'delete-project-permission' project.name perm.id %}"><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Delete</button></a>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <div class="panel-body">
      There aren't any permissions defined yet.
  </div>
  {% endif %}

{% endblock %}
