{% extends 'base.html' %}

{% load django_markdown %}

{% block content %}


<div class="panel panel-default">

  <div class="panel-heading">
    <h1>
      Projects
      <div class="pull-right">
        <a href="{% url 'add-project' %}"><button class="btn btn-success">Add project</button></a>
      </div>
    </h1>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-3">
        <strong>Name</strong>
      </div>
      <div class="col-md-8">
        <strong>Description</strong>
      </div>
    </div>
    {% for project in projects %}
    <hr>
    <div class="row">
      <div class="col-md-3">
        <a href="{% url 'list-issue' project.name %}">{{ project }}</a>
      </div>
      <div class="col-md-9">
        {% if project.description %}
        {{ project.description|linebreaksbr }}
        {% else %}
        <em>No description provided.</em>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}
