{% extends 'issue/project.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="panel panel-default">

  <div class="panel-heading">
    <h1>
      Edit project
      <div class="pull-right">
        <a href="{% url 'list-issue' project.name %}"><button class="btn btn-warning">Go back to issues</button></a>
      </div>
    </h1>
  </div>

  <div class="panel-body">
    <form action="" method="post" role="form">
      {{ form|crispy }}
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

</div>

{% endblock %}
