{% extends 'base.html' %}

{% load django_markdown %}

{% block content %}


<div class="panel panel-default">

  <div class="panel-heading">
    <h1>
      Projects
      {% if perm.create_project %}
      <div class="pull-right">
        <a href="{% url 'add-project' %}" class="btn btn-success">Add project</a>
      </div>
      {% endif %}
    </h1>
  </div>

  <div class="panel-body">
    {% if projects.exists %}
    <div class="row">
      <div class="col-md-3">
        <strong>Name</strong>
      </div>
      <div class="col-md-8">
        <strong>Description</strong>
      </div>
    </div>
    {% for project in projects %}
    <hr>
    <div class="row">
      <div class="col-md-3">
        <a href="{% url 'list-issue' project.name %}">{{ project }}</a>
      </div>
      <div class="col-md-9">
        {% if project.description %}
        {{ project.description|linebreaksbr }}
        {% else %}
        <em>No description provided.</em>
        {% endif %}
      </div>
    </div>
    {% endfor %}
    {% elif user.is_authenticated %}
    <em>Sorry, you have no access to any project.</em>
    {% else %}
    <em>There is not any public project. You should probably <a href="{% url 'login' %}">login</a>.</em>
    {% endif %}
  </div>

{% endblock %}
