{% extends 'issue/project.html' %}

{% load django_markdown %}
{% load issue_filters %}
{% load issue_tags %}

{% block permissiontab %} class="active"{% endblock %}

{% block content %}

<div class="panel panel-default">

  <div class="panel-heading">
    <h1>
      Permissions of '{{ project }}' project
      <div class="pull-right">
        <a href="{% url 'add-project-permission' project.name %}" class="btn btn-success">Add new permission</a>
      </div>
    </h1>
  </div>

  {% if permissions.count %}
  <table class="table table-bordered">
    <tr>
      <th rowspan="2">Type</th>
      <th rowspan="2">Name</th>
      <th colspan="4" class="text-center">Issues</th>
      <th colspan="3" class="text-center">Comments</th>
      <th colspan="2" class="text-center">Labels &<br />Milestones</th>
      <th class="text-center">Permissions</th>
      <th rowspan="2" class="col-md-2"></th>
    </tr>
    <tr>
      <th class="text-center">{% vertical 'Create?' %}</th>
      <th class="text-center">{% vertical 'Manage?' %}</th>
      <th class="text-center">{% vertical 'Modify?' %}</th>
      <th class="text-center">{% vertical 'Delete?' %}</th>
      <th class="text-center">{% vertical 'Create?' %}</th>
      <th class="text-center">{% vertical 'Modify?' %}</th>
      <th class="text-center">{% vertical 'Delete?' %}</th>
      <th class="text-center">{% vertical 'Manage?' %}</th>
      <th class="text-center">{% vertical 'Delete?' %}</th>
      <th class="text-center">{% vertical 'Manage?' %}</th>
    </tr>
    {% for perm in permissions %}
    <tr>
      <td>{{ perm.type }}</td>
      <td>{{ perm.name }}</td>
      <td class="text-center"><a href="{% url 'toggle-project-permission' project.name perm.id 'create-issue' %}">{{ perm.create_issue|boolean }}</a></td>
      <td class="text-center"><a href="{% url 'toggle-project-permission' project.name perm.id 'manage-issue' %}">{{ perm.manage_issue|boolean }}</a></td>
      <td class="text-center"><a href="{% url 'toggle-project-permission' project.name perm.id 'modify-issue' %}">{{ perm.modify_issue|boolean }}</a></td>
      <td class="text-center"><a href="{% url 'toggle-project-permission' project.name perm.id 'delete-issue' %}">{{ perm.delete_issue|boolean }}</a></td>
      <td class="text-center"><a href="{% url 'toggle-project-permission' project.name perm.id 'create-comment' %}">{{ perm.create_comment|boolean }}</a></td>
      <td class="text-center"><a href="{% url 'toggle-project-permission' project.name perm.id 'modify-comment' %}">{{ perm.modify_comment|boolean }}</a></td>
      <td class="text-center"><a href="{% url 'toggle-project-permission' project.name perm.id 'delete-comment' %}">{{ perm.delete_comment|boolean }}</a></td>
      <td class="text-center"><a href="{% url 'toggle-project-permission' project.name perm.id 'manage-tags' %}">{{ perm.manage_tags|boolean }}</a></td>
      <td class="text-center"><a href="{% url 'toggle-project-permission' project.name perm.id 'delete-tags' %}">{{ perm.delete_tags|boolean }}</a></td>
      <td class="text-center"><a href="{% url 'toggle-project-permission' project.name perm.id 'manage-project-permission' %}">{{ perm.manage_project_permission|boolean }}</a></td>
      <td class="text-center">
        <a href="{% url 'edit-project-permission' project.name perm.id %}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span> Edit</a>
        <a href="#" data-item="permission" data-action="{% url 'delete-project-permission' project.name perm.id %}" data-toggle="modal" data-target="#confirm-delete" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Delete</a>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <div class="panel-body">
      There aren't any permissions defined yet.
  </div>
  {% endif %}

{% endblock %}
