{% extends 'base.html' %}

{% load humanize %}
{% load issue_filters %}

{% block content %}


<div class="panel panel-default">

  <div class="panel-heading">
    <h1>
      Teams
      {% if perm.add_team %}
      <div class="pull-right">
        <a href="{% url 'add-team' %}" class="btn btn-success">Add team</a>
      </div>
      {% endif %}
    </h1>
  </div>

  {% if teams.exists %}
  <table class="table table-hover">
    <tr>
      <th>Name</th>
      <th>Users</th>
      <th>Groups</th>
    </tr>
    {% for team in teams %}
    <tr>
      <td><a href="{% url 'show-team' team.pk %}"><b>{{ team }}</b></a></td>
      <td>{{ team.users|first_few:'user' }}</td>
      <td>{{ team.groups|first_few:'group' }}</td>
      <td class="text-center">
        <a href="{% url 'edit-team' team.pk %}" class="btn btn-primary btn-xs">Edit</a>
        <a href="{% url 'delete-team' team.pk %}" class="btn btn-danger btn-xs">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <div class="panel-body">
    <em>There aren't any teams quite yet.</em>
  </div>
  {% endif %}

{% endblock %}
