{% extends 'base_admin.html' %}

{% load staticfiles %}
{% load humanize %}
{% load bootstrap3 %}

{% block grouptab %} class="active"{% endblock %}

{% block moretabs %}
<a href="{% url 'add-group' %}" class="pull-right btn btn-success">Add group</a>
{% endblock %}

{% block tabcontent %}

<ul class="list-group">
  {% if not paginator.count %}
  <li class="list-group-item" style="line-height: 48px;">
    <em>There are no groups quite yet.</em>
  </li>
  {% endif %}
  {% for group in groups %}
  <a class="list-group-item" href="{% url 'show-group' group.id %}" style="line-height: 48px;">
    <div class="row">
      <div class="col-md-10">
        <strong>
          {{ group }}
        </strong>
      </div>
      <div class="col-md-2 text-muted">
        {{ group.users.count }} user{{ group.users.count|pluralize }}
      </div>
    </div>
  </a>
  {% endfor %}
</ul>

<div style="text-align: center;">
    {% bootstrap_pagination groups %}
</div>

{% endblock %}
