{% extends 'base.html' %}

{% load django_markdown %}
{% load bootstrap3 %}

{% block profiletab %} class="active"{% endblock %}

{% block content %}

<div class="page-header">
  <h1>Profile</h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Your profile</h3>
  </div>
  <div class="panel-body">
    <form method="post" class="col-md-4" role="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Your groups</h3>
  </div>
  <ul class="list-group">
    {% for group in request.user.groups.all %}
    <li class="list-group-item">
      {{ group }}
      {% comment %}
      <div class="pull-right">
        <a href="javascript:alert('Not yet implemented.');" class="btn btn-xs btn-danger">
          <span class="glyphicon glyphicon-log-out"></span> leave
        </a>
      </div>
      {% endcomment %}
    </li>
    {% endfor %}
    {% if not request.user.groups.exists %}
    <li class="list-group-item">
      <em>You belong to no groups.</em>
    </li>
    {% endif %}
  </ul>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Your teams</h3>
  </div>
  <ul class="list-group">
    {% for team in request.user.teams.all %}
    <li class="list-group-item">
      {{ team }}
      {% comment %}
      <div class="pull-right">
        <a href="javascript:alert('Not yet implemented.');" class="btn btn-xs btn-danger">
          <span class="glyphicon glyphicon-log-out"></span> leave
        </a>
      </div>
      {% endcomment %}
    </li>
    {% endfor %}
    {% if not request.user.teams.exists %}
    <li class="list-group-item">
      <em>You belong to no teams.</em>
    </li>
    {% endif %}
  </ul>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Projects that you are watching</h3>
  </div>
  <ul class="list-group">
    {% for project in request.user.subscribed_projects.all %}
    <li class="list-group-item">
      {{ project }}
      <div class="pull-right">
        <a href="{% url 'unsubscribe-project' project.name %}?next={{ request.path }}" class="btn btn-xs btn-danger">
          <span class="glyphicon glyphicon-eye-close"></span> unwatch
        </a>
      </div>
    </li>
    {% endfor %}
    {% if not request.user.subscribed_projects.exists %}
    <li class="list-group-item">
      <em>You are not watching any projects.</em>
    </li>
    {% endif %}
  </ul>
</div>

{% endblock %}
