{% extends 'base_project.html' %}

{% block issuetab %} class="active"{% endblock %}

{% block moretabs %}
<div class="pull-right">
  {% block statustabs %}{% endblock %}
  {% if perm.create_issue %}
  <a href="{% url 'add-issue' project.name %}?prev={{ request.get_full_path }}" class="btn btn-success">New issue</a>
  {% endif %}
</div>
{% endblock %}

{% comment %}
{% block js_end %}
{{ block.super }}
<script type="text/javascript">
$(function () {
      $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock %}
{% endcomment %}
