{% extends 'base_project.html' %}

{% load bootstrap3 %}

{% block labeltab %} class="active"{% endblock %}

{% block moretabs %}
{% if label %}
<a href="{% url 'add-label' project.name %}" class="pull-right btn btn-success">New label</a>
{% endif %}
{% endblock %}

{% block tabcontent %}

<div class="row">
  <div class="col-md-offset-4 col-md-4">

    <div class="page-header">
      <h3>
        {% if label %}
        Edit label
        {% else %}
        New label
        {% endif %}
      </h3>
    </div>

    <form action="" method="post" role="form">
      {% bootstrap_form form %}
      {% csrf_token %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{{ cancel }}" class="btn btn-default">Cancel</a>
      {% endbuttons %}
    </form>
  </div>
</div>

{% endblock %}
