{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="page-header">
  <h1>
    Welcome on PonyTracker!
    {% if perm.create_project %}
    <div class="pull-right">
      <a href="{% url 'add-project' %}" class="btn btn-success">Create new project</a>
    </div>
    {% endif %}
  </h1>
</div>

{% if projects.exists %}
{% for project in projects %}
<div class="list-group">
  <a class="list-group-item disabled" href="{% url 'list-issue' project.name %}">
    <h4>{{ project }}</h4>
  </a>
  <div class="list-group-item">
    {% if project.description %}
    {{ project.description|linebreaksbr }}
    {% else %}
    <em>No description provided.</em>
    {% endif %}
  </div>
</div>
{% endfor %}
{% elif user.is_authenticated %}
<div class="well">
  Sorry, you don't have access to any project.
</div>
{% else %}
<div class="well">
  There are no public projects. You should probably <a href="{% url 'login' %}">login</a>.
</div>
{% endif %}

{% endblock %}
