{% extends 'base_project.html' %}

{% load django_markdown %}
{% load accounts_tags %}
{% load permissions_tags %}
{% load permissions_filters %}
{% load staticfiles %}

{% block moretabs %}
  <li class="active"><a href="{% url 'list-project-permission' project.name %}"><b>Permissions</b></a></li>
  <div class="pull-right">
    <a href="{% url 'add-project-permission' project.name %}" class="btn btn-success">Add permission</a>
  </div>
{% endblock %}

{% block tabcontent %}

{% if permissions.count %}
<div class="panel-group" id="accordion">
{% for perm in permissions %}
<div class="panel panel-default">
  <div class="pannel panel-heading">
    <h4 class="panel-title">
      <a name="perm{{ perm.id }}" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ perm.id }}">
        {{ perm.type }} {{ perm.name }}
      </a>
      <div class="pull-right">
        <a href="{% url 'edit-project-permission' project.name perm.id %}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span> edit</a>
        <a href="#perm{{ perm.id }}" data-item="permission" data-action="{% url 'delete-project-permission' project.name perm.id %}" data-toggle="modal" data-target="#confirm-delete" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span> delete</a>
      </div>
    </h4>
  </div>
  <div class="panel-collapse collapse" id="collapse{{ perm.id }}">
    <div class="panel-body">
      <ul class="list-group">
        {% for p, v in perm.all_perms_fields_values %}
        <li class="list-group-item">
          {{ p.verbose_name }}
          <a href="javascript:void(0);" class="pull-right perm-toggle" data-href="{% url 'toggle-project-permission' project.name perm.id p.name %}">{{ v|boolean }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endfor %}
</div>
{% else %}
<div class="well">
  No permissions defined yet.
</div>
{% endif %}

{% endblock %}

{% block js_end %}
<script src="{% static 'js/perm.js' %}"></script>
{% endblock %}
