{% load staticfiles %}
{% load bootstrap3 %}

<div class="modal" id="{{ type }}-perm-form-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="panel panel-default">
      <div class="panel panel-heading">
        {{ title }}
      </div>
      <div class="panel panel-body">
        <form action="{{ action }}" method="post" role="form" id="{{ type }}-perm-form">
          {% csrf_token %}
          {% bootstrap_form form %}
          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
