{% extends 'admin.html' %}

{% load staticfiles %}
{% load humanize %}
{% load bootstrap3 %}

{% block grouptab %}primary{% endblock %}

{% block moretabs %}
{% if group %}
<a href="{% url 'add-group' %}" class="btn btn-success">Add group</a>
{% endif %}
{% endblock %}

{% block tabcontent %}

<div class="row">

  <div class="col-md-offset-3 col-md-6">

    <div class="page-header">
      <h1>
        {% if group %}
        Edit group
        {% else %}
        New group
        {% endif %}
      </h1>
    </div>

    <form action="#" method="post" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
        {% if group %}
        <a href="{% url 'show-group' group.id %}" class="btn btn-default">Cancel</a>
        {% else %}
        <a href="{% url 'list-group' %}" class="btn btn-default">Cancel</a>
        {% endif %}
      {% endbuttons %}
    </form>

  </div>

</div>

{% endblock %}
