{% extends 'admin.html' %}

{% load staticfiles %}
{% load humanize %}
{% load bootstrap3 %}

{% block teamtab %}primary{% endblock %}

{% block moretabs %}
{% if team %}
<a href="{% url 'add-team' %}" class="btn btn-success">Add team</a>
{% endif %}
{% endblock %}

{% block tabcontent %}

<div class="row">

  <div class="col-md-offset-3 col-md-6">

    <div class="page-header">
      <h1>
        {% if team %}
        Edit team
        {% else %}
        New team
        {% endif %}
      </h1>
    </div>

    <form action="#" method="post" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'list-team' %}" class="btn btn-default">Cancel</a>
      {% endbuttons %}
    </form>

  </div>

</div>

{% endblock %}
