{% extends 'admin.html' %}

{% load staticfiles %}
{% load humanize %}
{% load bootstrap3 %}

{% block usertab %}primary{% endblock %}

{% block moretabs %}
<a href="{% url 'add-user' %}" class="btn btn-success">Add user</a>
{% endblock %}

{% block tabcontent %}

<ul class="list-group">
  {% for user in users %}
  <a class="list-group-item" href="{% url 'show-user' user.id %}">
    <div class="row" style="line-height: 48px;">
      <div class="col-md-6" style="line-height: 24px;">
        <strong>{{ user.username }}</strong>
        <br />
        <span class="text-muted">{{ user.first_name }} {{ user.last_name }}</span>
      </div>
      <div class="col-md-2">
        {% if not user.is_active %}
        <mark><span class="glyphicon glyphicon-warning-sign"></span> disabled</mark>
        {% endif %}
      </div>
      <div class="col-md-2">
        <span class="text-muted">{{ user.groups.count }} group{{ user.groups.count|pluralize }}</span>
      </div>
      <div class="col-md-2">
        <span class="text-muted">{{ user.teams.count }} team{{ user.teams.count|pluralize }}</span>
      </div>
    </div>
  </a>
  {% endfor %}
</ul>

<div style="text-align: center;">
    {% bootstrap_pagination users %}
</div>

{% endblock %}
