from ponytracker.settings import *


# # Uncomment to use celery worker
# # Don't forget to install a broker:
# #   http://docs.celeryproject.org/en/latest/getting-started/brokers/index.html#broker-overview
# INSTALLED_APPS += ('djcelery',)
# import djcelery
# djcelery.setup_loader()

EMAIL_HOST = 'smtp'
SERVER_EMAIL = 'admin@ponytracker.example.com'
DEFAULT_FROM_EMAIL = 'noreply@ponytracker.example.com'

SECRET_KEY = 'CHANGE ME'

DEBUG = False

TEMPLATE_DEBUG = False

STATIC_ROOT = os.path.join(BASE_DIR, 'static')

ALLOWED_HOSTS = ['*']
