{% extends 'tracker/issue_base.html' %}

{% load humanize %}
{% load tracker_tags %}
{% load issue_tags %}
{% load bootstrap3 %}

{% block title %}{{ project }} - PonyTracker{% endblock %}

{% block rightbar %}
  <div class="btn-group" role="group">
    {% for status_value, status_label in status_values.items %}
    <a href="{% issue_url status=status_value %}" class="btn btn-default{% if status_value == status %} active{% endif %}">{{ status_label }}</a>
    {% endfor %}
  </div>
  {{ block.super }}
{% endblock %}

{% block tabcontent %}

<ul class="list-group">
  <li class="list-group-item disabled">
    <div class="row">
      <div class="col-md-6">
        <form class="form-inline" role="form" method="GET" id="filter-form">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">
                <a href="#" onclick="$('#filter-form').submit();"><span class="glyphicon glyphicon-search"></span></a>
              </div>
              <input class="form-control" name="q" type="text" placeholder="filter" value="{{ manager.filter }}"/>
            </div>
          </div>
          <div class="form-group">
              {% if manager.resettable %}
              <a href="{% issue_url reset=True %}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"> Reset filter</span></a>
              {% endif %}
          </div>
        </form>
      </div>
      <div class="col-md-6 text-right">
        <div class="btn-group">
          <div class="btn-group">
            <button class="btn btn-default dropdown-toggle" type="button" id="issue-filter-label" data-toggle="dropdown">
              Labels
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="issue-filter-label">
              <li role="presentation" class="dropdown-header">Filter by label</li>
              {% if manager.not_used_labels.exists %}
              {% for label in manager.not_used_labels %}
              <li role="presentation"><a role="menuitem" tabindex="-1" href="{% issue_url label=label %}">{{ label }}</a></li>
              {% endfor %}
              {% else %}
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><em>No labels</em></a></li>
              {% endif %}
            </ul>
          </div>
          <div class="btn-group">
            <button class="btn btn-default dropdown-toggle" type="button" id="issue-filter-milestone" data-toggle="dropdown">
              Milestone
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="issue-filter-milestone">
              <li role="presentation" class="dropdown-header">Filter by milestone</li>
              {% if manager.not_used_milestones.exists %}
              {% for milestone in manager.not_used_milestones %}
              <li role="presentation"><a role="menuitem" tabindex="-1" href="{% issue_url milestone=milestone %}">{{ milestone }}</a></li>
              {% endfor %}
              {% else %}
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><em>No milestones</em></a></li>
              {% endif %}
            </ul>
          </div>
          <div class="btn-group">
            <button class="btn btn-default dropdown-toggle" type="button" id="issue-sort-menu" data-toggle="dropdown">
              Sort
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="issue-sort-menu">
              <li role="presentation" class="dropdown-header">Sort by</li>
              {% for key, value in sort_values.items %}
              <li role="presentation"{% if sort == key %} class="disabled"{% endif%}><a role="menuitem" tabindex="-1" href="{% issue_url sort=key %}">{{ value }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </li>
  {% if paginator.count %}
  {% for issue in issues %}
  <li class="list-group-item">
    {% if issue.closed %}
    <span class="text-danger"><span class="glyphicon glyphicon-ok-circle"></span></span>
    {% else %}
    <span class="text-success"><span class="glyphicon glyphicon-hand-right"></span></span>
    {% endif %}
    <a href="{% url 'show-issue' project.name issue.id %}"><b>{{ issue }}</b></a>
    {% for label in issue.labels.all %}
    <a href="{% issue_url label=label %}" class="label" style="{{ label.style }}">{{ label }}</a>
    {% endfor %}
    <br />
    <small>#{{ issue.id }} opened by <a href="{% issue_url author=issue.author %}">{% user_badge issue.author %}</a> {{ issue.opened_at|naturaltime }}</small>
    {% if issue.due_date %}
    &#160;–&#160;&#160;<small>due by <span{% if issue.overdue %} class="passed-due-date"{% endif %}>{{ issue.due_date }}</span></small>
    {% endif %}
    {% if issue.milestone %}
    &#160;–&#160;&#160;<span class="glyphicon glyphicon-road"></span> <a href="{% issue_url milestone=issue.milestone %}"><b>{{ issue.milestone }}</b></a>
    {% endif %}
    &#160;–&#160;&#160;<span><span class="badge"><span class="glyphicon glyphicon-comment"></span>&#160;{{ issue.comments.count }}</span></span>
  </li>
  {% endfor %}
  {% else %}
  <li class="list-group-item"><em>No issues match your desired criteria.</em></li>
  {% endif %}
</ul>

{% if issues %}
<div style="text-align: center;">
    {% bootstrap_pagination issues extra=manager.get_parameters %}
</div>
{% endif %}

{% endblock %}
