{% extends 'base.html' %}

{% load accounts_tags %}

{% block title %}{{ project }} - PonyTracker{% endblock %}

{% block project %}{{ project }} <span class="caret"></span>{% endblock %}

{% block navbar-left %}

{% comment %}
<form class="navbar-form navbar-right" role="search" id="search-form">
  <div class="form-group">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search this project">
      <a href="#" class="input-group-addon" onclick="$('#search-form').submit();"><span class="glyphicon glyphicon-search"></span></a>
    </div>
  </div>
</form>
{% endcomment %}

{% if request.user.is_authenticated %}
{% if request.user.email and request.user.notifications and request.user in project.subscribers.all %}
<li><a href="{% url 'unsubscribe-project' project.name %}?next={{ request.get_full_path }}"><span class="glyphicon glyphicon-eye-close"></span> Unwatch</a></li>
{% else %}
<li><a href="{% url 'subscribe-project' project.name %}?next={{ request.get_full_path }}"><span class="glyphicon glyphicon-eye-open"></span> Watch</a></li>
{% endif %}
{% endif %}

{% if perm.manage_project_permission or perm.modify_project or perm.delete_project %}
<li class="dropdown{% block settingdropdownclass %}{% endblock %}">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% block settingdropdown %}Settings{% endblock %} <span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    {% if perm.manage_project_permission %}
    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'list-project-permission' project.name %}"><span class="glyphicon glyphicon-cog"></span> Manage permissions</a></li>
    {% endif %}
    {% if perm.modify_project %}
    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'edit-project' project.name %}"><span class="glyphicon glyphicon-wrench"></span> Modify this project</a></li>
    {% endif %}
    {% if perm.delete_project %}
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-item="project" data-action="{% url 'delete-project' project.name %}" data-toggle="modal" data-target="#confirm-delete"><span class="glyphicon glyphicon-trash"></span> Delete this project</a></li>
    {% endif %}
  </ul>
</li>

{% endif %}

{% endblock %}

{% block content %}

<div class="navbar">
  <div class="navbar-left">
    <div class="btn-group" role="group">
      <a href="{% url 'list-issue' project.name %}" class="btn btn-{% block issuetab %}default{% endblock %}">Issues</a>
      <a href="{% url 'list-label' project.name %}" class="btn btn-{% block labeltab %}default{% endblock %}">Labels</a>
      <a href="{% url 'list-milestone' project.name %}" class="btn btn-{% block milestonetab %}default{% endblock %}">Milestones</a>
      <a href="{% url 'show-activity' project.name %}" class="btn btn-{% block activitytab %}default{% endblock %}">Activity</a>
      {% block moretabs %}{% endblock %}
    </div>
  </div>
  <div class="navbar-right">
    {% block rightbar %}{% endblock %}
  </div>
</div>

{% block tabcontent %}{% endblock %}

{% delete_modal %}

{% endblock %}

{% block js_end %}
{{ block.super }}
{% delete_modal_js %}
{% endblock %}
