{% extends 'base.html' %}

{% load django_markdown %}

{% block content %}

<ul class="nav nav-tabs" role="tablist">
  {% if perm.manage_settings %}
  <li{% block settingtab %}{% endblock %}><a href="{% url 'settings' %}"><b>Settings</b></a></li>
  {% endif %}
  {% if perm.manage_user %}
  <li{% block usertab %}{% endblock %}><a href="{% url 'list-user' %}"><b>User</b></a></li>
  {% endif %}
  {% if perm.manage_group %}
  <li{% block grouptab %}{% endblock %}><a href="{% url 'list-group' %}"><b>Group</b></a></li>
  {% endif %}
  {% if perm.manage_team %}
  <li{% block teamtab %}{% endblock %}><a href="{% url 'list-team' %}"><b>Team</b></a></li>
  {% endif %}
  {% if perm.manage_global_permission %}
  <li{% block permtab %}{% endblock %}><a href="{% url 'list-global-permission' %}"><b>Permissions</b></a></li>
  {% endif %}
  {% block moretabs %}{% endblock %}
</ul>
<br />

{% block tabcontent %}{% endblock %}

{% endblock %}
