{% extends 'base.html' %}

{% load bootstrap3 %}

{% block content %}

<div class="panel panel-default">

  <div class="panel-heading">
    <h1>
      Login
      <div class="pull-right">
        <a href="{% if request.GET.prev %}{{ request.GET.prev }}{% else %}{% url 'list-project' %}{% endif %}"><button class="btn btn-warning">Cancel</button></a>
      </div>
    </h1>
  </div>

  <div class="panel-body">
    <div class="col-md-offset-4 col-md-4">
      <form action="" method="post" role="form">
        {% bootstrap_form form %}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

</div>

{% endblock %}
