{% extends 'base.html' %}

{% load accounts_tags %}

{% block admintab %} class="active"{% endblock %}

{% block content %}

<div class="btn-group" role="group">

  {% if perm.manage_settings %}
  <a href="{% url 'settings' %}" class="btn btn-{% block settingtab %}default{% endblock %}">Settings</a>
  {% endif %}

  {% if perm.manage_accounts %}
  <a href="{% url 'list-user' %}" class="btn btn-{% block usertab %}default{% endblock %}">User</a>
  <a href="{% url 'list-group' %}" class="btn btn-{% block grouptab %}default{% endblock %}">Group</a>
  <a href="{% url 'list-team' %}" class="btn btn-{% block teamtab %}default{% endblock %}">Team</a>
  {% endif %}

  {% if perm.manage_global_permission %}
  <a href="{% url 'list-global-permission' %}" class="btn btn-{% block permtab %}default{% endblock %}">Permissions</a>
  {% endif %}
</div>

<div class="btn-group pull-right" role="group">
  {% block moretabs %}{% endblock %}
</div>

<div class="row" style="margin-top: 20px;">
  <div class="col-md-12">
    {% block tabcontent %}{% endblock %}
  </div>
</div>

{% delete_modal %}

{% endblock %}

{% block js_end %}
{{ block.super }}
{% delete_modal_js %}
{% endblock %}
